@model NBD.Models.Client

@{
    ViewData["Title"] = "Details";
}

<div>
    <h2 class="text-center">@Html.DisplayFor(model => model.FullName)</h2>
    <hr />
    <div class="card-columns">
        <div class="card" style="width:400px; height:500px;">
            <h4 class="card-title">Basic Information</h4>
            <dl class="card-body">
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CompanyName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CompanyName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Position)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Position)
                </dd>
            </dl>
        </div>
        <div class="card" style="width:400px; height:500px;">
            <h4 class="card-title">Contact Information</h4>
            <dl class="card-body">
                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Province)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Province)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PostalCode)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PostalCode)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.City)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.City.Name)
                </dd>
            </dl>
        </div>
    </div>
   
    </div>
   
<div>
    <a class="btn btn-light" asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a class="btn btn-danger" asp-action="Index">Back to List</a>
</div>
