@model IEnumerable<NBD.Models.WorkerReport>

@{
    ViewData["Title"] = "Index";
}

<h1 align="center">Worker Reports</h1>

<p>
    <a class="btn btn-light" asp-action="Create">Create New</a>
</p>

<div class="card-columns">
    @foreach (var item in Model)
    {
        <div class="card  align-content-center" style="width:400px">
            <div class="card-body">
                <h4 class="card-title">@Html.DisplayFor(modelItem => item.Project.Name)</h4>
                <p>@Html.DisplayFor(modelItem => item.Employee.FullName) </p>
                <a class="btn btn-light card-link" asp-action="Details" asp-route-id="@item.ID">Details</a>



                @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Designer") || User.IsInRole("SalesPerson"))
                {
                    @:|
                    <a class="btn btn-light card-link" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    <a class="btn btn-danger card-link" asp-action="Delete" asp-route-id="@item.ID">Delete</a>

                }


            </div>
        </div>
    }
</div>

<a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-danger">Back to Home</a>
@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Employee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hours)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Costs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExtCosts)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Project)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Task)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Costs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtCosts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Task.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
