@model NBD.Models.ProductionPlan

@{
    ViewData["Title"] = "Details";
}

<h1 align="center">Production Plan Details</h1>

<div class="card-columns align-content-center">
    <div class="card  align-content-center " style="width:400px; height:500px;">
        <div class="card-body">
            <h4 class="card-title">Production Plan Details</h4>
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.ProjectID)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Project.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.TeamID)
                </dt>
                @foreach (var employee in Model.Team.TeamEmployees)
                {
                    <dd>
                        @Html.DisplayFor(model => employee.Employee.FullName)
                    </dd>
                }

            </dl>

        </div>

    </div>
    <div>

        <div class="card  align-content-center " style="width:400px; height:500px;">
            <div class="card-body">
                <h4 class="card-title">@Html.DisplayNameFor(model => model.ProdPlanLabours)</h4>
                <dl>
                    <dd class="col-sm-10">
                        @{
                        
                            int labourCount = Model.ProdPlanLabours.Count;
                            if (labourCount > 0)
                            {
                                string firstLabour = Model.ProdPlanLabours.FirstOrDefault().LabourRequirement.Task.Description;
                                if (labourCount > 1)
                                {
                                    string labourList = "";
                                    var c = Model.ProdPlanLabours.ToList();
                                    for (int i = 1; i < labourCount; i++)
                                    {
                                        labourList += c[i].LabourRequirement.Task.Description + "Estimated Hours: "+ c[i].LabourRequirement.EstHours+ " <br />";
                                    }
                                    <a class="" role="button" data-toggle="collapse" href="#collapseCamper@(Model.ID)" aria-expanded="false" aria-controls="collapseCamper@(Model.ID)">
                                        @firstLabour... <span class="badge badge-info">@labourCount</span>
                                    </a>
                                    <div class="collapse" id="collapseLabour@(Model.ID)">
                                        @Html.Raw(labourList)
                                    </div>
                                }
                                else
                                {
                                    @firstLabour
                                }
                            }
                        }
                            
                    </dd>

                    @*@foreach (var item in Model.ProdPlanLabours)
        {
            <dd>
                @Html.DisplayFor(modelItem => item.LabourRequirement.Task.Description)

            </dd>
            <dt>
                Estimated Date:
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.LabourRequirement.EstDate)
            </dd>
            <dt>
                Estimated Hours:
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.LabourRequirement.EstHours)
            </dd>



        }*@
                </dl>

            </div>

        </div>

        <div class="card  align-content-center " style="width:400px; height:500px;">
            <div class="card-body">
                <h4 class="card-title">@Html.DisplayNameFor(model => model.ProdPlanMaterials)</h4>
                <dl>
                    @foreach (var item in Model.ProdPlanMaterials)
                    {
                        <dd>
                            @Html.DisplayFor(modelItem => item.MaterialRequirement.Inventory.Material.Description)

                        </dd>
                        <dt>
                            Installation Date:
                        </dt>
                        <dd>
                            @Html.DisplayFor(modelItem => item.MaterialRequirement.InstallDate)
                        </dd>
                        <dt>
                            Delivery Date:
                        </dt>
                        <dd>
                            @Html.DisplayFor(modelItem => item.MaterialRequirement.DeliveryDate)
                        </dd>
                        <dt>
                            Estimated Quantity
                        </dt>
                        <dd>
                            @Html.DisplayFor(modelItem => item.MaterialRequirement.EstQuantity)
                        </dd>

                    }
                </dl>

            </div>



        </div>
    </div>

</div>
<div>
    <a class="btn btn-light" asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a class="btn btn-danger" asp-action="Index">Back to List</a>
</div>





@*<dl>

        <dd>
            @Html.DisplayFor(modelItem => item.LabourRequirement.Task)
        </dd>
        <dt>
            @Html.DisplayNameFor(modelItem => item.LabourRequirement.EstDate)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.LabourRequirement.EstDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(modelItem => item.LabourRequirement.EstHours)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.LabourRequirement.EstHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Team.TeamName)
        </dt>

        @foreach (var employee in Model.Team.TeamEmployees)
        {

            <dd>
                @Html.DisplayFor(modelItem => employee.Employee.FullName)
            </dd>
        }

    </dl>
    }*@

